<!DOCTYPE html>
<html>

<head>
    <title>Battleshots: Battle and Drink</title>
    <link rel="stylesheet" href="stylesheets/splash.css">
</head>

<body>
    <main>
        <div class="container">
            <img class="logo" src="./images/logof.png" alt="logo not found" />
            <h2 class="textunderlogo">Battleshots</h2>
        </div>

        <div class="play">
            <a href="game.html"><span id="start">Play</span></a>
        </div>

        <div class="stats">
            <ul>
                <li>Games played: <%= gamesInitialized %></li>
                <li>Games completed: <%= gamesCompleted %></li>
                <li>Online playing: <%= online %></li>
                <li id='accessed'>Times accessed: </li>
            </ul>
        </div>

        <script src="./javascripts/cookie.js">
        </script>
    </main>
</body>

</html>